**/*.local.*
main.json
terraform/.terraform.lock.hcl
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.69.0/darwin_amd64/terraform-provider-azurerm_v2.69.0_x5
terraform/.terraform/**